@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Cinzel", serif;
  color: #482307;
  font-weight: bolder;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1 {
  font-weight: lighter;
  font-size: 40px;
  margin: 15px;
}
